/* CV de Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */

$lightBlue: #00AFF0;
$darkBlue: #0065AA;
$blue: #528b86;

$textDarkColor: #2B2B30;
$textLightColor: white;

$logoHoverColor: #009EE5;
$logoColor: #00AEED;

$ancreHoverColor: #00AFF0;

$linkBlueColor: #2a5993;
$linkHoverBlueColor: #2B2B30;

$blueButtonColorText: white;
$blueButtonColor: #0078ca;
$blueButtonPushBlue: #0065AA;

$whiteButtonColorText: #0078ca;
$whiteButtonColor: white;
$whiteButtonPushBlue: white;

$footerColor: #2B5464;